<!-- Jumbotron  -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-center jumbo-text"> Tech Blog</h1>
    <p class=" text-center lead jumbo-text">Your Favourite Tech Blog</p>
  </div>
</div>
<!-- End Jumbotron -->
  <!-- Add Blog Form  -->
<div class="container">
  <h2 class="text-center">Create Article</h2>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="mb-3 form-group">
        <label for="title" class="form-label">
          <title> Title </title>
        </label>
        <input type="text" class="form-control" id="title" placeholder="title" required [(ngModel)]="blog.title" name="title">
      </div>
      <div class="mb-3 form-group">
        <label for="exampleFormControlInput1" class="form-label">
          <title>Description</title>
        </label>
        <input type="description" class="form-control" id="description" placeholder="short description" required
          [(ngModel)]="blog.description" name="description">
      </div>
      <div class="mb-3 form-group">
        <label for="body" class="form-label">Body</label>
        <textarea class="form-control" id="body" rows="3" required [(ngModel)]="blog.body" name="body"></textarea>
      </div>
      <button class="btn btn-sm btn-outline-dark" (click)="saveBlog()">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Blog was submitted successfully!</h4>
      <button class="btn btn-outline-dark btn-sm" (click)="newBlog()">Add</button>
    </div>
  </div>
</div>
<!-- End Blog Form  -->