

<div class="row">
  <div class="col-md-6">
    <h4 class="text-center">Comments</h4>
    <div class="card comment-card mb-5">
    <div *ngFor="let comment of comments">
      <div class="text-center">
       <a class="comments mt-3" [routerLink]="['/comments',comment.id]"> {{comment.comment}} </a> 
      <div>
        <!-- <label><strong>Status:</strong></label> {{ current.published}} </div> -->
      
    </div>
    </div>
    <div *ngIf="!currentComment">
      <br />
      <!-- <p>Please click on a Comment...</p> -->
    </div>
  </div>
</div>
