<div class="container">
  <h1 class="text-center">Register</h1>
  <form [formGroup]="registrationform" (ngSubmit)='onSubmit()' >
    <div class="form-group">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="username" formControName='username'>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" name="email" id="email" formControName='email'>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" name="password" id="password" formControName='password'>
    </div>
    <button class="btn btn-sm btn-primary mt-3" type="submit">Sign Up</button>
  </form>  
</div>


